*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #353535;
}

#nav{
    background-color: black;
}

li > a{
    font-family: monospace;
    margin-right: 10px;
}

.image{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: 100%;
    background-image: url("https://i.ibb.co/zxXKyVq/pic.png");
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.main{
    width: 50vh;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.h2{
    margin: 0 15px;
    font-size: 2rem;
    font-family: monospace;
    color: grey;
}

.alert{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 500px;
    height: 200px;
    text-align: center;
    right: 10px;
    border-radius: 10px;
    background-color: black;
}

.alert-info{
    border-left: 5px solid cyan;
}

.alert-dismissible{
    border-left: 5px solid green;
}

.alert-error{
    border-left: 5px solid red;
}