{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


                                    <!-- local files -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="{% static 'script.js' %}"></script>

    <title>Email Sender</title>

</head>
<body>
      <nav>
    <div id="nav" class="nav-wrapper">
    <div class="image" title="Github Page"></div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {% if user.is_authenticated %}
            <li><a href="">Logout</a></li>
        {% else %}
            <li><a href="">Login</a></li>
            <li><a href="">SignIn</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

<div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <h2 class="h2">{{ message }}</h2>
            </div>
        {% endfor %}
    {% endif %}
    
</div>
{% block content %}

{% endblock content %}

{% if user.is_authenticated %}

    <div class="container">

        <div style="margin-top: 300px;" class="row">
            <form action="/send_email/" method="post" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        <input style="cursor: not-allowed;" name="name" disabled placeholder="Placeholder" id="first_name" type="text" value="{{user.username}}" class="validate">
                        <label for="first_name">Name</label>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input  name="subject"  id="disabled" type="text" class="validate" >
                        <label for="disabled">Subject</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="message" name="message" type="text" >
                        <label for="message">Message</label>
                    </div>
                </div>
                
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
{% else %}
    <h2 style="text-align: center;">Sry But You Are Not Logged In </h2>
{% endif %}


        
</body>
</html>